header {
  min-height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header__btn {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials-icon {
  font-size: 1.6rem;
}

.myself {
  background: linear-gradient(var(--color-primary), transparent);
  width: 25rem;
  overflow: hidden;
  left: calc(50% - 11rem);
  margin: 2rem auto;
  border-radius: 12rem 12rem 0 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1rem 1.5rem 0 1.5rem;
}

.myself img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  transition: transform 0.2s ease;
  /* Add transition for smooth rotation */
}

.scroll__down:hover {
  transform: rotate(0deg);
}


/* ----------For Medium Devices ---------------- */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}
/* ----------For Small Devices ---------------- */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .myself {
    width: 90%;
    aspect-ratio: 1;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}